@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');

.nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #b33939 0% 0% no-repeat padding-box;
  justify-content: space-between;
  color: white;
  margin-left: 80px;
}
a{
  text-decoration: none;
}

.titulo{
display: flex;
align-items: center;
font-weight:600;
flex-direction: column;
background: #b33939 0% 0% no-repeat padding-box;
border: 2px solid #FFFFFF;
opacity: 1;
width: 269px;
height: 133px;
border-radius: 70%;
}

.foodTitle{
  font: normal normal 300 30px/49px Montserrat;
  color:#ffda79;
}

.henryTitle{
  font: normal normal normal 60px/86px Ephesis;
  color:white;
}

